<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Thirteenth navbar example">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
      <a class="navbar-brand col-lg-3 me-0" routerLink=""><img src="../../../assets/imgs/logoMinaClavero.png" alt="Logo Mina Clavero" style="height: 43px;"></a>
      <ul class="navbar-nav col-lg-6 justify-content-lg-center">
        <li class="nav-item">
          <button class="button-nabvar" aria-current="page" routerLink="/home">Salir</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Fin Navbar -->

<!-- Title -->
  <h1 class="titulo">Formulario de Satisfacción</h1>
  <p class="subtitulo">Municipalidad de Mina Clavero</p>
<!-- Fin Title -->

  <!--  PREGUNTAS BD MySQL  -->
  <section *ngFor="let pregunta of listPreguntas" class="row">
    <div class="col-md-12 ">
      <section class="row">
        <div class="col-md-8">
          <p class="preguntas">{{ pregunta.question }}</p>
        </div>
        <div class="col-md-4 select-dropdown">
          <select class="" >
            <option value="5">Muy Buena</option>
            <option value="4">Buena</option>
            <option value="3">Regular</option>
            <option value="2">Mala</option>
            <option value="1">Muy Mala</option>
            <option value="0">No Responde</option>
          </select>
        </div>
      </section>
    </div>
  </section>

  <section class="row">
    <div class="col-md-12">
      <div class="titulo-secundario">Otra forma de dar respuestas</div>
      <p></p>
    </div>
  </section>
  
  <!--  Otra forma de dar respuestas  -->
  <section *ngFor="let pregunta of listPreguntas" class="row">
    <div class="col-md-12">
      <section class="row">
        <div class="col-md-8">
          <p class="preguntas">{{ pregunta.question }}</p>
        </div>
        <div class="col-md-2 form-check-mb-2 p-2 rounded">
          <label class="radio form-check-label">
            <input class="custom-radio form-check-input" type="radio" name="pregunta1a" id="pregunta1a" value="SI">SI
          </label>
        </div>
        <div class="col-md-2 form-check p-2 rounded">
          <label class=" radio form-check-label">
            <input class="custom-radio form-check-input" type="radio" name="preguntab" id="pregunta1b" value="SI">NO
          </label>
        </div>
      </section>
    </div>
  </section>
  <!--Cuestionario Turista -->
  <section >
    <div class="info">
      <form>
          <input  placeholder="Nombre y Apellido" required>
          <input  placeholder="Edad" required>
          <input  placeholder="Ciudad de procedencia" required>
          <textarea name="" id="" cols="35" rows="10" placeholder="Motivo de su visita a Mina Clavero" required></textarea>
          <div class="choise">
            <form>
                <p><strong>¿Ud. vino a Mina Clavero?</strong></p>
                <ol type="A" class="pregunta">
                    <li><input type="radio" name="pregunta1" id="p11"> Solo </li>
                    <li><input type="radio" name="pregunta1" id="p12"> Con su Pareja</li>
                    <li><input type="radio" name="pregunta1" id="p13"> Con su Familia</li>
                    <li><input type="radio" name="pregunta1" id="p14"> En una Excursión</li>
                </ol>
                <p><strong>¿A través de qué medio conoció el destino Mina Clavero? </strong></p>
                <ol type="A" class="pregunta">
                    <li><input type="radio" name="pregunta2" id="p21"> Televisión</li>
                    <li><input type="radio" name="pregunta2" id="p23"> Pagina Web</li>
                    <li><input type="radio" name="pregunta2" id="p22"> Redes Sociales</li>
                    <li><input type="radio" name="pregunta2" id="p24"> Medios Graficos</li>
                </ol>
                <p><strong>¿Por qué eligió Mina Clavero para pasar sus vacaciones?</strong></p>
                <ol type="A" class="pregunta">
                    <li><input type="radio" name="pregunta3" id="p31"> Porque ya conocía y le gustó el lugar</li>
                    <li><input type="radio" name="pregunta3" id="p33"> Porque se lo recomendaron</li>
                    <li><input type="radio" name="pregunta3" id="p32"> Porque es un lugar tranquilo para la familia</li>
                    <li><input type="radio" name="pregunta3" id="p34"> Por sus paisajes</li>
                </ol>
                <p><strong>En cuanto a Hospedaje: ¿Ud. llegó a Mina Clavero?</strong></p>
                <ol type="A" class="pregunta">
                    <li><input type="radio" name="pregunta4" id="p41"> Con Reserva</li>
                    <li><input type="radio" name="pregunta4" id="p42"> Sin Reserva</li>
                    <li><input type="text" name="pregunta4" id="p43"> A través de que medio hizo la reserva?</li>
                </ol>
                <p><strong>¿Qué tipo de Hospedaje ha tomado?</strong></p>
                <ol type="A" class="pregunta">
                    <li><input type="radio" name="pregunta5" id="p55"> Hotel</li>
                    <li><input type="radio" name="pregunta5" id="p51"> Cabaña</li>
                    <li><input type="radio" name="pregunta5" id="p52"> Hostería</li>
                    <li><input type="radio" name="pregunta5" id="p53"> Camping</li>
                </ol>
                <p><strong>¿Cómo es el servicio en el hospedaje que ha contratado? </strong></p>
                <ol type="A" class="pregunta">
                    <li><input type="radio" name="pregunta6" id="p61"> Excelente</li>
                    <li><input type="radio" name="pregunta6" id="p62"> Muy Bueno</li>
                    <li><input type="radio" name="pregunta6" id="p66"> Regular</li>
                    <li><input type="radio" name="pregunta6" id="p64"> Malo</li>
                </ol>
                <p><strong>¿Recibió material informativo de la Secretaría de Turismo en el hospedaje donde se alojó?</strong></p>
                <ol type="A" class="pregunta">
                    <li><input type="radio" name="pregunta7" id="p71"> Si </li>
                    <li><input type="radio" name="pregunta7" id="p77"> No</li>
                    <li><input type="text" name="pregunta7" id="p73"> Cual?</li>
                </ol>
                <p><strong>¿Ud. pidió información en las oficinas de Turismo de Mina Clavero?</strong></p>
                <ol type="A" class="pregunta">
                    <li><input type="radio" name="pregunta8" id="p88"> Si </li>
                    <li><input type="radio" name="pregunta8" id="p82"> No </li>
                    <li><input type="text" name="pregunta8" id="p83"> ¿Cual?</li>
                </ol>
                <p><strong>¿Qué tipo de Información solicitó en las Oficinas de Turismo de Mina Clavero?</strong> (Puede marcar más de una opción)</p>
                <ol type="A" class="pregunta">
                    <li><input type="radio" name="pregunta9" id="p91"> Hospedaje</li>
                    <li><input type="radio" name="pregunta9" id="p92"> Gastronomía</li>
                    <li><input type="radio" name="pregunta9" id="p93"> Servicios</li>
                    <li><input type="radio" name="pregunta9" id="p99"> Paseos</li>
                    <li><input type="radio" name="pregunta9" id="p99"> Rutas</li>
                    <li><input type="radio" name="pregunta9" id="p99"> Turismo Aventura</li>
                    <li><input type="radio" name="pregunta9" id="p99"> Eventos</li>
                    <li><input type="text" name="pregunta9" id="p99"> Otros:¿Cuales?</li>
                </ol>
                <p><strong>¿A través de que medio solicito informacion en las Oficinas de Turismo de Mina Clavero?</strong> (Puede marcar mas de una opción.)</p>
                <ol type="A" class="pregunta">
                    <li><input type="radio" name="pregunta10" id="p01"> Personalmente</li>
                    <li><input type="radio" name="pregunta10" id="p02"> Vía mail</li>
                    <li><input type="radio" name="pregunta10" id="p03"> Via Facebook</li>
                    <li><input type="radio" name="pregunta10" id="p04"> Via telefonica</li>
                    <li><input type="text" name="pregunta10" id="p04"> Otros:¿Cual?</li>
                </ol>
                <p><strong>¿Que tipo de material se le entregó en la Oficina de Turismo?</strong></p>
                <ol type="A" class="pregunta">
                    <li><input type="radio" name="pregunta10" id="p01"> Folleto</li>
                    <li><input type="radio" name="pregunta10" id="p02"> Revisa</li>
                    <li><input type="radio" name="pregunta10" id="p03"> Planos</li>
                    <li><input type="radio" name="pregunta10" id="p04"> Calcomanías</li>
                    <li><input type="radio" name="pregunta10" id="p04"> Guía de Servicios</li>
                </ol>
                <p><strong>¿Como evalúa el tipo de informacion brindada por las Oficinas de Turismo de Mina Clavero?</strong></p>
                <ol type="A" class="pregunta">
                    <li><input type="radio" name="pregunta10" id="p01"> Excelente</li>
                    <li><input type="radio" name="pregunta10" id="p02"> Muy Buena</li>
                    <li><input type="radio" name="pregunta10" id="p03"> Buena</li>
                    <li><input type="radio" name="pregunta10" id="p04"> Regular</li>
                </ol>
                <p><strong>Aparte de la información solicitada, se le brindó algún otro tipo de información de su interés?</strong></p>
                <ol type="A" class="pregunta">
                    <li><input type="radio" name="pregunta10" id="p01"> Si</li>
                    <li><input type="radio" name="pregunta10" id="p02"> No</li>
                </ol>
                <p><strong>¿Que información se le brindo?</strong></p>
                <ol type="A" class="pregunta">
                    <li><input type="radio" name="pregunta10" id="p01"> Espectáculos en Mina Clavero</li>
                    <li><input type="radio" name="pregunta10" id="p02"> Espectáculos en locaclidades cercanas</li>
                    <li><input type="radio" name="pregunta10" id="p03"> Actividades deportivas</li>
                    <li><input type="radio" name="pregunta10" id="p04"> Turismo Aventura</li>
                    <li><input type="radio" name="pregunta10" id="p03"> Paseos</li>
                    <li><input type="text" name="pregunta10" id="p04"> Otros:¿Cuales?</li>
                </ol>
                <p><Strong>Considera a Mina Clavero como un destino completo en cuanto a su oferta y servicios?</Strong></p>
                <ol type="A" class="pregunta">
                    <li><input type="radio" name="pregunta10" id="p01"> Si</li>
                    <li><input type="radio" name="pregunta10" id="p02"> No</li>
                    <li><input type="text" name="pregunta10" id="p03"> ¿Porque?</li>
                </ol>
                <p><strong>¿Recomendaría Mina Clavero como destino turístico?</strong></p>
                <ol type="A" class="pregunta">
                    <li><input type="radio" name="pregunta10" id="p01"> Si</li>
                    <li><input type="radio" name="pregunta10" id="p02"> No</li>
                    <li><input type="text" name="pregunta10" id="p03"> ¿Porque?</li>
                </ol>
            </form>
            <p><strong>¡Muchas Gracias por su colaboración!</strong></p>
            <input type="submit" value="Enviar" class="submit" required>
        </div>