
// Boton home
.boton-home{
    font-size: medium;
    width: 70px; 
    height: 50px; 
    margin-top: 10px;
}

// Botones custom de las respuestas de si y no
.custom-radio {
    width: 20px; /* Ajusta el ancho del botón de radio según tus necesidades */
    height: 20px;
    
}
// Imagen
.imagen-esquina img {
    width: 70px; 
    height: auto;
    
    border-radius: 50%; 
    border: 2px solid #fff; 
}

// Titulos
.titulo {
    text-align: center;
    font-size: 36px; 
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    margin: 0; 
}

.subtitulo {
    font-size: 20px; 
    color: #555; 
    text-align: center;
    margin-top: 20px; 
    margin-bottom: 40px;
}
.titulo-secundario {
    font-size: 24px; 
    font-weight: bold; 
    margin-bottom: 10px;
    position: relative; 
    text-align: center;
    margin: 10px;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #ccc;
        bottom: 0;
        left: 0;
    }
}

// Preguntas

.preguntas{
    font-size: 18px;
    margin-bottom: 20px;
    color: #333; 
    background-color: #f0f0f0; 
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    
}

.preguntas:hover {
    background-color: #ddd; 
}



// Dropbar
.select-dropdown {
    select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    }
}


