<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Thirteenth navbar example">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
      <a class="navbar-brand col-lg-3 me-0" routerLink=""><img src="../../../assets/imgs/logoMinaClavero.png" alt="Logo Mina Clavero" style="height: 43px;"></a>
      <ul class="navbar-nav col-lg-6 justify-content-lg-center">
        <li class="nav-item">
          <button class="button-nabvar" aria-current="page" routerLink="/home">Salir</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Fin Navbar -->

<!-- Title -->
  <h1 class="titulo">Formulario de Satisfacción</h1>
  <p class="subtitulo">Municipalidad de Mina Clavero</p>
<!-- Fin Title -->

  <!--  PREGUNTAS BD MySQL  -->
  <section *ngFor="let pregunta of listPreguntas" class="row">
    <div class="col-md-12 ">
      <section class="row">
        <div class="col-md-8">
          <p class="preguntas">{{ pregunta.question }}</p>
        </div>
        <div class="col-md-4 select-dropdown">
          <select class="" >
            <option value="5">Muy Buena</option>
            <option value="4">Buena</option>
            <option value="3">Regular</option>
            <option value="2">Mala</option>
            <option value="1">Muy Mala</option>
            <option value="0">No Responde</option>
          </select>
        </div>
      </section>
    </div>
  </section>

  <section class="row">
    <div class="col-md-12">
      <div class="titulo-secundario">Otra forma de dar respuestas</div>
      <p></p>
    </div>
  </section>
  
  <!--  Otra forma de dar respuestas  -->
  <section *ngFor="let pregunta of listPreguntas" class="row">
    <div class="col-md-12">
      <section class="row">
        <div class="col-md-8">
          <p class="preguntas">{{ pregunta.question }}</p>
        </div>
        <div class="col-md-2 form-check-mb-2 p-2 rounded">
          <label class="radio form-check-label">
            <input class="custom-radio form-check-input" type="radio" name="pregunta1a" id="pregunta1a" value="SI">SI
          </label>
        </div>
        <div class="col-md-2 form-check p-2 rounded">
          <label class=" radio form-check-label">
            <input class="custom-radio form-check-input" type="radio" name="preguntab" id="pregunta1b" value="SI">NO
          </label>
        </div>
      </section>
    </div>
  </section>