
<div class="container">
  <section class="row">
    <div class="col-md-12 imagen-esquina">
      <button class="boton-home btn btn btn-success btn-sm fixed-top mx-auto" onclick="window.location.href=''">
        Volver al Inicio
      </button>
        
      <a href="/home" ><img src="../../../assets/imgs/logoMinaClavero.png" alt=""></a>
      <!-- <img src="../../../assets/imgs/logoMinaClavero.png" alt="Imagen en la esquina"> -->
      <h1 class="titulo">Formulario de Satisfacción</h1>
      <p class="subtitulo">Municipalidad de Mina Clavero</p>
    </div>
  </section>

  <!--  PREGUNTAS BD MySQL  -->
  <section *ngFor="let pregunta of listPreguntas" class="row">
    <div class="col-md-12 ">
      <section class="row">
        <div class="col-md-8">
          <p class="preguntas">{{ pregunta.question }}</p>
        </div>
        <div class="col-md-4 select-dropdown">
          <select class="" >
            <option value="5">Muy Buena</option>
            <option value="4">Buena</option>
            <option value="3">Regular</option>
            <option value="2">Mala</option>
            <option value="1">Muy Mala</option>
            <option value="0">No Responde</option>
          </select>
        </div>
      </section>
    </div>
  </section>

  <section class="row">
    <div class="col-md-12">
      <div class="titulo-secundario">Otra forma de dar respuestas</div>
      <p></p>
    </div>
  </section>
  
  <!--  Otra forma de dar respuestas  -->
  <section *ngFor="let pregunta of listPreguntas" class="row">
    <div class="col-md-12">
      <section class="row">
        <div class="col-md-8">
          <p class="preguntas">{{ pregunta.question }}</p>
        </div>
        <div class="col-md-2 form-check-mb-2 p-2 rounded">
          <label class="radio form-check-label">
            <input class="custom-radio form-check-input" type="radio" name="pregunta1a" id="pregunta1a" value="SI">SI
          </label>
        </div>
        <div class="col-md-2 form-check p-2 rounded">
          <label class=" radio form-check-label">
            <input class="custom-radio form-check-input" type="radio" name="preguntab" id="pregunta1b" value="SI">NO
          </label>
        </div>
      </section>
    </div>
  </section>
  