<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Thirteenth navbar example">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
        <a class="navbar-brand col-lg-3 me-0" routerLink=""><img src="../../../assets/imgs/logoMinaClavero.png" alt="Logo Mina Clavero" style="height: 43px;"></a>
        <ul class="navbar-nav col-lg-6 justify-content-lg-center">
          <li class="nav-item">
            <button class="button-nabvar" aria-current="page" routerLink="">Salir</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!-- Fin Navbar -->

<div class="container">
    <div class="dashboard">
        <app-bar-chart></app-bar-chart>
    </div>
    <div class="preguntas">
        <app-encuesta-crud></app-encuesta-crud>
    </div>
    <div class="info-card">
      <app-info-cards-crud></app-info-cards-crud>  
    </div>
</div>