<!-- Navbar -->
<app-navbar></app-navbar>
<!-- Fin Navbar -->

<!-- Main -->
<main>
    <!-- Carousel de la pagina de Inicio -->
    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
    
      <div class="carousel-inner">
          <div class="carousel-item active c-item">
              <img src="../../../assets/imgs/RioCentro3.jpeg" class="d-block w-100 c-img" alt="Slide 1">
              <div class="carousel-caption top-0 mt-4">
                  <p class="mt-5 fs-3 text-uppercase">Tu Lugar Favorito</p>
                  <h1 class="display-1 fw-bolder text-capitalize">Mina Clavero</h1>
              </div>
          </div>
          <div class="carousel-item c-item">
              <img src="../../../assets/imgs/Rio4.jpeg" class="d-block w-100 c-img" alt="Slide 2">
              <div class="carousel-caption top-0 mt-4">
                <p class="mt-5 fs-3 text-uppercase">Vive tu aventura</p>
                <h1 class="display-1 fw-bolder text-capitalize">Mina Clavero</h1>
              </div>
          </div>
          <div class="carousel-item c-item">
              <img src="../../../assets/imgs/Rio7.jpeg" class="d-block w-100 c-img" alt="Slide 3">
              <div class="carousel-caption top-0 mt-4">
                <p class="mt-5 fs-3 text-uppercase">Un paraiso perfecto</p>
                <h1 class="display-1 fw-bolder text-capitalize">Mina Clavero</h1>
              </div>
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- Fin del Carousel de la pagina de Inicio -->
    <div class="fondo">
        
      <!-- Historia Mina Clavero de la pagina de Inicio -->
      <div class="history-text">
          <figure class="text-center">
              <figcaption class="blockquote-footer">
                  Entre montañas y ríos, tu belleza se despliega, Mina Clavero, joya serena de la naturaleza.
              </figcaption>
                  <div class="text-container">
                      <p class="text-important">
                          <b>Mina Clavero</b>, situada en las <b>Sierras de Córdoba</b>, tiene raíces precolombinas que dejaron una rica herencia cultural en el entorno y las tradiciones locales. 
                          A pesar de no encontrar tesoros, descubrieron la riqueza de la <b>naturaleza</b>. Esto atrajo a viajeros en busca de serenidad en medio de paisajes montañosos, ríos y cascadas. 
                          En el siglo XX, el turismo creció con la construcción de infraestructuras, pero <b>Mina Clavero</b> mantuvo su encanto auténtico y sus conexiones con la historia y tradiciones. 
                          Ofrece actividades al aire libre, festivales culturales y una experiencia única que combina historia y naturaleza. 
                          Un lugar mágico en <b>Argentina</b> que ha dejado huella en la historia y en los corazones de sus visitantes.
                      </p>
                  </div>
          </figure>
      </div>
      <!-- Fin Historia Mina Clavero de la pagina de Inicio -->
    
            <!-- Cards Informativas Hardcodeadas -->
            <section id="gallery">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-4 mb-4">
                        <div class="card w-80">
                          <img src="../../../assets/imgs/Informacion.jpeg" alt="Info-turismo" class="card-img-top card-image">
                              <div class="card-body">
                                  <h5 class="card-title">Información Turística</h5>
                                  <p class="card-text">Sus principales atractivos incluyen hermosas playas de arena dorada a lo largo del río, ideales para disfrutar del sol y las aguas cristalinas. Además, el lugar es conocido por sus cascadas, senderos de trekking y la posibilidad de practicar actividades de aventura como el rappel y el tirolesa. La arquitectura de estilo serrano y la calidez de su gente completan la experiencia, para un destino perfecto.</p>
                              </div>
                        </div>
                      </div>
        
                      <div class="col-lg-4 mb-4">
                        <div class="card w-80">
                          <img src="../../../assets/imgs/Hoteleria1.jpeg" alt="" class="card-img-top card-image">
                              <div class="card-body">
                                  <h5 class="card-title">Hospedaje y Alojamiento</h5>
                                  <p class="card-text">Desde cómodos hoteles y acogedores hostales hasta pintorescas cabañas y campings, los viajeros encontrarán alternativas para todos los gustos y presupuestos. Disfruta de la belleza natural de la zona y relájate en tu lugar de alojamiento después de explorar sus encantadores paisajes, ríos y montañas. El hospedaje y alojamiento es uno de los principales componentes de la experiencia turística.</p>
                              </div>
                          </div>
                      </div>
        
                      <div class="col-lg-4 mb-4">
                        <div class="card w-80">
                          <img src="../../../assets/imgs/Transportes.jpeg" alt="" class="card-img-top card-image">
                              <div class="card-body">
                                  <h5 class="card-title">Transporte y Cómo Moverse</h5>
                                  <p class="card-text">El transporte en esta ciudad se basa principalmente en servicios de buses y taxis locales que permiten moverse por el área urbana y sus alrededores.
                                                          ¿ Cómo  Moverse en Mina Clavero ? Autobuses locales, Mina Clavero cuenta  con  una  red  de transporte público de autobuses que conecta diferentes puntos dentro de la ciudad y sus cercanías.</p>
                              </div>
                          </div>
                      </div>
        
                      <div class="col-lg-4 mb-4">
                        <div class="card w-80">
                          <img src="../../../assets/imgs/Eventos-Actividades.jpeg" alt="" class="card-img-top card-image">
                              <div class="card-body">
                                  <h5 class="card-title">Eventos y Activades</h5>
                                  <p class="card-text">Mina Clavero, un hermoso destino turístico en Argentina, ofrece una amplia variedad de eventos y actividades para disfrutar de su encanto natural y cultural.
                                                          Además, Mina Clavero ofrece oportunidades para practicar deportes acuáticos, como kayak y rafting, en el río cristalino.
                                                              Toda esta diversidad hace que Mina Clavero sea un lugar especial para crear recuerdos inolvidables.</p>
                              </div>
                          </div>
                      </div>
        
                      <div class="col-lg-4 mb-4">
                        <div class="card w-80">
                          <img src="../../../assets/imgs/Restaurante.jpeg" alt="" class="card-img-top card-image">
                              <div class="card-body">
                                  <h5 class="card-title">Restaurantes y gastronomía</h5>
                                  <p class="card-text">Los restaurantes en Mina Clavero ofrecen una amplia variedad de platos típicos, como las famosas empanadas cordobesas, asados de carne de alta calidad, truchas de río frescas y sabrosos chivitos a la llama.
                                                          Muchos de estos restaurantes están ubicados en escenarios naturales encantadores, ofreciendo vistas panorámicas de las montañas y el río Mina Clavero.</p>
                              </div>
                          </div>
                      </div>
        
                      <div class="col-lg-4 mb-4">
                        <div class="card w-80">
                          <img src="../../../assets/imgs/maps.jpeg" alt="" class="card-img-top card-image">
                              <div class="card-body">
                                  <h5 class="card-title">Mapas y Guías</h5>
                                  <p class="card-text">Mina Clavero, un hermoso destino turístico en Argentina, cuenta con diversos mapas y guías que te ayudarán a explorar su encanto natural.
                                                          Los mapas detallados te conducirán por senderos montañosos, ríos cristalinos y cascadas impresionantes.
                                                              ¡Sumérgete en la belleza de Mina Clavero con la ayuda de sus mapas y guías!</p>
                              </div>
                          </div>
                      </div>
        
                      <div class="col-lg-4 mb-4">
                        <div class="card w-80">
                          <img src="../../../assets/imgs/Cultura-Idioma.jpeg" alt="" class="card-img-top card-image">
                              <div class="card-body">
                                  <h5 class="card-title">Idioma y Cultura Local</h5>
                                  <p class="card-text">La  lengua  predominante  en  la  región  es  el  español, pero  es  común  encontrar  una  variante local del idioma con expresiones y modismos particulares.
                                                      Los habitantes de Mina Clavero son conocidos por su hospitalidad y apego a las costumbres ancestrales, lo que permite a los visitantes sumergirse en una experiencia auténtica y enriquecedora.</p>
                              </div>
                          </div>
                      </div>
        
                      <div class="col-lg-4 mb-4">
                        <div class="card w-80">
                          <img src="../../../assets/imgs/SeguridadEmergencias.jpeg" alt="" class="card-img-top card-image">
                              <div class="card-body">
                                  <h5 class="card-title">Seguridad y Emergencias</h5>
                                  <p class="card-text">Seguridad y Emergencias en Mina Clavero se refiere a las medidas y protocolos implementados para garantizar la protección de personas, infraestructuras y el medio ambiente en esta localidad situada en Argentina, que es conocida por sus actividades mineras.
                                  La combinación de medidas de seguridad y protocolos de emergencia es esencial para mantener un entorno seguro y preparado ante cualquier eventualidad en la actividad minera de Mina Clavero.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <!-- Fin Cards Informativas -->

      <!-- INFOCARD SECTION -->
      <section id="gallery">
          <div class="container">
            <div class="row">
              <!-- COMPONENT INFOCARD -->
              <div>
                <app-info-cards 
                    *ngFor="let infoCard of infoCards"
                    [infoCard]="infoCard"
                ></app-info-cards>
              </div>
              
            </div>
          </div>
      </section>
    </div>
      <!-- FIN INFOCARD SECTION -->
</main>
<!-- Fin Main -->

    <!-- Footer -->
<app-footer></app-footer>
    <!-- Fin Footer -->