<app-navbar></app-navbar>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="cards-wrapper">
        <div class="card">
          <img src="/Front-End/src/assets/imgs/museopiedracru.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Museo Piedra Cruz Sur</h5>
            <p class="card-text">Es el museo más antiguo de la localidad. Ofrece una variada colección de piedras y la posibilidad de explorar la riqueza energética de los minerales.</p>
            <a href="https://maps.app.goo.gl/BpJQmLgKK9hcKtPK7" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card d-none d-md-block">
          <img src="/Front-End/src/assets/imgs/Balneario.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Balneario De Mina Clavero</h5>
            <p class="card-text">Hay tres balnearios hermosos como: La Palmita, Remanso Cuadrado, Balneario Las Calaveras y el típico puente colgante sobre el rio.</p>
            <a href="https://maps.app.goo.gl/RvUwbZt6y7yMsEqv6" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card d-none d-md-block">
          <img src="/Front-End/src/assets/imgs/museo-de-municiones-don.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Museo de Municiones Don Hector P. Radicci</h5>
            <p class="card-text">Muy bueno el museo, es pequeño pero con piezas de gran valor histórico. Ideal para conocer y aprender en familia.</p>
            <a href="https://maps.app.goo.gl/8TQ61Vzt61nLYLHM9" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      </div>
      <div class="carousel-item">
        <div class="cards-wrapper">
          <div class="card">
            <img src="/Front-End/src/assets/imgs/puentescolg1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Puentes colgantes</h5>
              <p class="card-text">Un paseo de todo el día que le hará recorrer el corazón de traslasierra y sorprenderse con su naturaleza virgen. Tiene variedad de excursión en los sitios.</p>
              <a href="https://maps.app.goo.gl/yGLgj6YWT1uLJTj1A" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card d-none d-md-block">
            <img src="/Front-End/src/assets/imgs/elefantes2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Balneario Los Elefantes</h5>
              <p class="card-text">Sobre el cauce del río de Los Sauces se encuentran Los Elefantes,donde el agua transita la cuenca cerrada, formando rápidos y profundas olla.</p>
              <a href="https://maps.app.goo.gl/hxZTjHgQQomjbZX28" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card d-none d-md-block">
            <img src="/Front-End/src/assets/imgs/cascada.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cascada Toro muerto</h5>
              <p class="card-text">Cascada natural de gran atractivo, por su encause entre dos altos peñascos utilizados por los valerosos para realizar saltos a la olla profunda.</p>
              <a href="https://maps.app.goo.gl/42UP66s2NQYNfYU79" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="cards-wrapper">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card d-none d-md-block">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card d-none d-md-block">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>