<!-- Footer -->
<footer class="py-1 footer">
  <div class="container">
    <footer class="py-2 my-3">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <section class="buttons float-left">
              <a href="https://www.facebook.com/MinaClaveroOK" target="_blank" class="fab fa-facebook"></a>
              <a href="https://www.instagram.com/turismominaclavero/?hl=es-la" target="_blank" class="fab fa-instagram"></a>
              <a href="https://www.youtube.com/watch?v=9nrE3Wv_SvE" target="_blank" class="fab fa-youtube"></a>
            </section>
          </div>
          <div class="col-md-6">
            <ul class="nav justify-content-end">
              <li class="nav-item"><a routerLink="/home" class="nav-link px-2 btn-footer">Inicio</a></li>
              <li class="nav-item"><a routerLink="/formulario" class="nav-link px-2 btn-footer">Formulario</a></li>
              <li class="nav-item"><a routerLink="/nosotros" class="nav-link px-2 btn-footer">Lugares</a></li>
              <li class="nav-item"><a href="https://maps.app.goo.gl/MSf84k25wT53nme38" target="_blank" class="fas fa-map nav-link px-3 btn-footer"></a></li>
            </ul>
          </div>
          <div class="col-md-6">
            <div class="text-right mt-3">
              <img src="../../../assets/imgs/logoMinaClavero.png" alt="Tu imagen" class="img-fluid img">
              <p class="mt-2 subtitle-img">Municipalidad de Mina Clavero</p>
            </div>
          </div>
          <div class="col-md-6">
            <form class="form"> 
              <span class="title">Contactanos!</span>
              <div>
                <input placeholder="Ingresa Tu Email" type="email" name="email" id="email-address">
                <button type="submit">Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <p class="text-center text-muted border-top">© 2023 Mina Clavero</p>
    </footer>
  </div>
</footer>
<!-- Fin Footer -->